---
import Container from '../../../components/Container.astro';
import Heading from '../../../components/Heading.astro';
import Section from '../../../components/Section.astro';
import TestimonialCard from '../../../components/TestimonialCard.astro';
import TextBlock from '../../../components/TextBlock.astro';

const benefits = await Astro.glob('../../../content/benefits/*.md');
---

<Section className="min-h-screen relative">
  <Container>
    <Heading
      position="center"
      highlight={['Digital']}
      title="Forging Digital Marvels"
      subtitle="We mold your digital presence with precision and expertise."
    />

    <div class="animate mb-16">
      <div class="grid md:grid-cols-4 gap-6">
        <TestimonialCard
          name="0xSlothETH"
          description="Web3 Advisor ðŸŒ | Community Builder"
          image="https://pbs.twimg.com/profile_images/1663944805133570055/HlJjuTal_400x400.jpg"
          href="#"
          testimonial="Working with Modiggo was such a fantastic experience!"
        />
      </div>
    </div>

    <div class="flex justify-between">
      <div class="flex-1">Images</div>
      <div class="flex flex-1 flex-col gap-y-12">
        {
          benefits?.map((item) => (
            <TextBlock
              className="p-4 bg-primary/20 card animate"
              {...item.frontmatter}
              description={item.compiledContent()}
            />
          ))
        }
      </div>
    </div>
  </Container>
</Section>
