---
import AccentBlur from '../../../components/AccentBlur.astro';
import Container from '../../../components/Container.astro';
import Heading from '../../../components/Heading.astro';
import Section from '../../../components/Section.astro';
import TextBlock from '../../../components/TextBlock.astro';

const benefits = await Astro.glob('../../../content/main-benefits/*.md');
benefits.sort(
  (a, b) => a.compiledContent().length - b.compiledContent().length
);
---

<Section className="min-h-screen bg-primary relative overflow-hidden">
  <Container>
    <Heading
      className="relative z-10"
      position="center"
      title="We Take Pride in Our Craft"
      subtitle="We forge sleek designs and temper robust functionalities. Your applications will be infused with the perfect balance of style and substance."
    />
    <div class="flex flex-wrap justify-between gap-16 text-white">
      {
        benefits?.map((item) => (
          <TextBlock
            className="md:basis-[calc(33.3%-64px)] animate"
            {...item.frontmatter}
            description={item.compiledContent()}
          />
        ))
      }
    </div>
  </Container>
  <AccentBlur />
</Section>
