---
import AccentBlur from '../../../components/AccentBlur.astro';
import Container from '../../../components/Container.astro';
import Section from '../../../components/Section.astro';
import config from '../../../utils/config';
---

<Section>
  <Container>
    <div
      class="card w-full bg-primary py-10 text-white items-center overflow-hidden relative mb-16 text-center"
    >
      <div class="card-body w-full max-w-2xl space-y-5 z-10">
        <h2 class="card-title text-5xl font-bold animate">
          See if we are the right fit for you!
        </h2>
        <p class="text-lg animate">
          Get a tour through our digital blacksmith shop. Find out how we can
          help you and your team change the way you see web development.
        </p>
        <a
          href={config.calendarLink}
          target="_blank"
          class="btn btn-neutral btn-block btn-lg font-bold text-white border-2 animate"
          >Get Started</a
        >
      </div>
      <AccentBlur />
    </div>
  </Container>
</Section>
