---
import styles from '../../utils/styles';
import Container from '../Container.astro';
import TextBlock from '../TextBlock.astro';

const benefits = await Astro.glob('../../content/benefits/*.md');
benefits.sort(
  (a, b) => a.frontmatter.title.length - b.frontmatter.title.length
);
---

<section class={styles.section}>
  <Container>
    <div class="mb-16 animate">
      <h1 class="text-5xl font-bold mb-5">Forging Digital Marvels</h1>
      <h2 class="mb-5 text-2xl">
        We mold your digital presence with precision and expertise. Let's hammer
        out those red-hot ideas.
      </h2>
    </div>

    <div class="flex flex-wrap items-center justify-between gap-16">
      {
        benefits?.map((item) => (
          <TextBlock
            className="md:basis-[calc(33.3%-64px)] animate"
            {...item.frontmatter}
            description={item.compiledContent()}
          />
        ))
      }
    </div>
  </Container>
</section>
