---
import Container from '../Container.astro';
import Heading from '../Heading.astro';
import Section from '../Section.astro';
import TextBlock from '../TextBlock.astro';

const benefits = await Astro.glob('../../content/benefits/*.md');
benefits.sort(
  (a, b) => a.frontmatter.title.length - b.frontmatter.title.length
);
---

<Section className="min-h-screen relative overflow-hidden">
  <Container>
    <Heading
      title="Forging Digital Marvels"
      subtitle="We mold your digital presence with precision and expertise."
    />
    <div class="space-y-32">
      <div class="flex flex-wrap items-center justify-between gap-16">
        {
          benefits?.map((item) => (
            <TextBlock
              className="md:basis-[calc(33.3%-64px)] animate"
              {...item.frontmatter}
              description={item.compiledContent()}
            />
          ))
        }
      </div>
    </div>
  </Container>
</Section>
