---
import { Image } from 'astro:assets';
import DomuFinancePage from '../../assets/images/domu-finance-page-sample.png';
import Container from '../Container.astro';
import Heading from '../Heading.astro';
import Section from '../Section.astro';
import TestimonialCard from '../TestimonialCard.astro';
import TextBlock from '../TextBlock.astro';

const benefits = await Astro.glob('../../content/benefits/*.md');
benefits.sort(
  (a, b) => a.frontmatter.title.length - b.frontmatter.title.length
);
---

<Section className="min-h-screen relative">
  <Container>
    <Heading
      position="center"
      highlight={['Digital']}
      title="Forging Digital Marvels"
      subtitle="We mold your digital presence with precision and expertise."
    />
    <div class="space-y-24">
      <div class="flex flex-wrap items-start justify-between gap-16">
        {
          benefits?.map((item) => (
            <TextBlock
              className="md:basis-[calc(33.3%-64px)] animate"
              {...item.frontmatter}
              description={item.compiledContent()}
            />
          ))
        }
      </div>

      <div class="flex flex-col md:flex-row gap-8 justify-between">
        <div class="flex flex-wrap gap-8 flex-1">
          <div class="break-inside-avoid animate digital--box">
            <Image
              src={DomuFinancePage}
              alt="Domu Finance Page"
              width={400}
              height={400}
            />
          </div>
        </div>
        <div class="flex-1 animate">
          <div class="sticky top-10 grid md:grid-cols-2 gap-6">
            <TestimonialCard
              name="0xSlothETH"
              description="Web3 Advisor ðŸŒ | Community Builder"
              image="https://pbs.twimg.com/profile_images/1663944805133570055/HlJjuTal_400x400.jpg"
              href="#"
              testimonial="Working with Modiggo was such a fantastic experience!"
            />
          </div>
        </div>
      </div>
    </div>
  </Container>
</Section>
