---
import styles from '../../utils/styles';
import Container from '../Container.astro';
import TextBlock from '../TextBlock.astro';

const benefits = [
  {
    icon: '+',
    title: 'Subscribe & Request',
    description: 'Subscribe to a partnership plan and place your requests.',
  },
  {
    icon: '+',
    title: 'Support & Refinement',
    description:
      'We will revise deliverables until you’re happy with the results.',
  },
  {
    icon: '+',
    title: 'No Full-Time Commitment',
    description:
      'No more full-time hassles. Subscribe to a plan, pause, or cancel anytime.',
  },
];
---

<section class={styles.section}>
  <Container>
    <div class="mb-16">
      <h1 class="text-5xl font-bold mb-5">Forging Digital Marvels</h1>
      <h2 class="mb-5 text-2xl">
        We Mold Your Digital Presence With Precision and Expertise. Let's Hammer
        Out Those Red-Hot Ideas.
      </h2>
    </div>

    <div class="flex flex-wrap items-center justify-between gap-16">
      {
        benefits?.map((item) => (
          <TextBlock className="md:basis-[calc(33.3%-64px)] test" {...item} />
        ))
      }
    </div>
  </Container>
</section>
