---
import AccentBlur from '../AccentBlur.astro';
import Container from '../Container.astro';
import Heading from '../Heading.astro';
import Pattern from '../Pattern.astro';
import Section from '../Section.astro';
import TextBlock from '../TextBlock.astro';

const benefits = await Astro.glob('../../content/main-benefits/*.md');
benefits.sort(
  (a, b) => a.compiledContent().length - b.compiledContent().length
);
---

<Section className="min-h-screen bg-primary relative overflow-hidden">
  <Container>
    <Heading
      className="relative z-10"
      title="We Take Pride in Our Craft"
      subtitle="We forge sleek designs and temper robust functionalities. Your websites and applications will be infused with the perfect balance of style and substance."
    />
    <div class="flex flex-wrap justify-between gap-16 text-white">
      {
        benefits?.map((item) => (
          <TextBlock
            className="md:basis-[calc(33.3%-64px)] animate"
            {...item.frontmatter}
            description={item.compiledContent()}
          />
        ))
      }
    </div>
  </Container>
  <AccentBlur />
  <Pattern />
</Section>
