---
import styles from '../../utils/styles';
import AccentBlur from '../AccentBlur.astro';
import Container from '../Container.astro';
import Heading from '../Heading.astro';
import Pattern from '../Pattern.astro';
import TextBlock from '../TextBlock.astro';

const benefits = await Astro.glob('../../content/main-benefits/*.md');
benefits.sort(
  (a, b) => a.frontmatter.title.length - b.frontmatter.title.length
);
---

<section
  class={`${styles.section} min-h-screen bg-black relative overflow-hidden`}
>
  <Container>
    <Heading
      className="text-white relative z-10"
      title="We Take Pride in Our Craft"
      subtitle="We forge sleek designs and temper robust functionalities. Your websites and applications will be infused with the perfect balance of style and substance."
    />
    <div class="flex flex-wrap justify-between gap-16 text-white">
      {
        benefits?.map((item) => (
          <TextBlock
            className="md:basis-[calc(33.3%-64px)] animate"
            {...item.frontmatter}
            description={item.compiledContent()}
          />
        ))
      }
    </div>
  </Container>
  <AccentBlur />
  <Pattern />
</section>
