---
import config from '../../utils/config';
import styles from '../../utils/styles';
import AccentBlur from '../AccentBlur.astro';
import Container from '../Container.astro';
import Pattern from '../Pattern.astro';
import TextBlock from '../TextBlock.astro';

const benefits = [
  {
    iconName: 'ic:baseline-access-time',
    iconClassName: 'max-w-[35px] w-full',
    title: 'Pause or Cancel Anytime',
    description:
      "Don't have enough work for us? Pause and use the remainder anytime you have more work coming in.",
  },
  {
    iconName: 'fa:dollar',
    iconClassName: 'max-w-[15px] w-full',
    title: 'Fixed Rates',
    description: 'Easy and predictable rates without surprises.',
  },
  {
    iconName: 'fa:expand',
    iconClassName: 'max-w-[25px] w-full',
    title: 'Flexible & Scalable',
    description:
      'Scale the services up and down as needed. Pause or cancel anytime.',
  },
  {
    iconName: 'ion:hammer',
    iconClassName: 'max-w-[35px] w-full',
    title: 'High-Quality Work',
    description: 'We take pride in our craft and deliver high-quality work.',
  },
  {
    iconName: 'fluent:wrench-24-filled',
    iconClassName: 'max-w-[35px] w-full',
    title: 'Priority Support & Maintenance',
    description:
      'Each partnership plan comes with 3 months of free support & maintenance hours. Even after terminating your partnership plan, we will make sure to provide support and maintenance for free.',
  },
  {
    iconName: 'gg:phone',
    iconClassName: 'max-w-[35px] w-full',
    title: 'Consulting',
    description:
      'Schedule consultation calls & receive industry expert opinion. Each partnership plan comes with a few hours of free calls (valued at $90/hr).',
  },
  {
    iconName: 'vaadin:piggy-bank-coin',
    iconClassName: 'max-w-[35px] w-full',
    title: 'Free Websites*',
    description: `Don't have the budget or the time to learn no-code and web builder tools? <a href='${config.freeWebsiteApplicationLink}' target='_blank' class='link'>Submit an application</a> and we will get back to you within 24-48 hours.`,
  },
  {
    iconName: 'fa:group',
    iconClassName: 'max-w-[35px] w-full',
    title: 'Customer-Oriented',
    description:
      'You are not JUST a customer. We treat our customers as partners. Honesty, integrity, & expertise straight from the digital blacksmith.',
  },
  {
    iconName: 'mdi:heart',
    iconClassName: 'max-w-[35px] w-full',
    title: 'Refinement',
    description:
      "Quality is important. We will refine our deliverables until you're happy with the results. Additionally, we take great care in delivering performant applications.",
  },
];
---

<section
  class={`${styles.section} min-h-screen bg-black relative overflow-hidden`}
>
  <Container>
    <div class="text-white mb-16 relative z-10 animate">
      <h1 class="text-5xl font-bold mb-5">We Take Pride in Our Craft</h1>
      <h2 class="mb-5 text-2xl">
        We forge sleek designs and temper robust functionalities. Your websites
        and applications will be infused with the perfect balance of style and
        substance.
      </h2>
    </div>
    <div class="flex flex-wrap justify-between gap-16 text-white">
      {
        benefits?.map((item) => (
          <TextBlock
            className="md:basis-[calc(33.3%-64px)] animate"
            {...item}
          />
        ))
      }
    </div>
  </Container>
  <AccentBlur />
  <Pattern />
</section>
