---
import Container from '../Container.astro';
import Heading from '../Heading.astro';
import Section from '../Section.astro';

const faq = await Astro.glob('../../content/faq/*.md');
const sortedFaq = faq
  .map((item) => ({ content: item, length: item?.frontmatter?.title?.length }))
  .sort((a, b) => a?.length - b?.length)
  .map((sorted) => sorted?.content);
---

<Section id="faq">
  <Container className="flex flex-col gap-2">
    <Heading
      title="Frequently Asked Questions"
      subtitle="Let's answer some of those red-hot questions."
    />
    <div>
      {
        sortedFaq?.map((item) => (
          <div class="collapse collapse-arrow border-b hover:border-white border-zinc-500 transition-colors mb-2">
            <input type="radio" name="accordion" />
            <div class="collapse-title text-xl font-medium">
              {item.frontmatter.title}
            </div>
            <div class="collapse-content prose-invert prose-lg max-w-none">
              <p set:html={item.compiledContent()} />
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Section>
