---
import config from '../../utils/config';
import styles from '../../utils/styles';
import AccentBlur from '../AccentBlur.astro';
import Container from '../Container.astro';
import Logo from '../Logo.astro';
import Pattern from '../Pattern.astro';
---

<section class={styles.section}>
  <Container>
    <div
      class="card w-full bg-primary py-10 text-white items-center overflow-hidden relative mb-16"
    >
      <div class="card-body w-full max-w-2xl gap-4 z-10 animate">
        <h2 class="card-title text-5xl mb-5 font-bold">
          See if we are the right fit for you!
        </h2>
        <p class="mb-5">We are using cookies for no reason.</p>
        <button
          data-scroll-to="#partnership-plans"
          class="btn btn-outline btn-block btn-lg font-bold text-white border-2"
          >Get Started</button
        >
      </div>
      <Pattern />
      <AccentBlur />
    </div>

    <div class="flex items-center justify-center">
      <Logo />
    </div>
  </Container>
</section>
