<section class="py-10">
  <div class="container mx-auto">
    <div
      class="card w-full bg-[#746ED4] py-10 text-neutral-content items-center"
    >
      <div class="card-body w-full max-w-xl items-center text-center gap-4">
        <h2 class="card-title text-3xl">
          See if we are the right fit for you!
        </h2>
        <p>We are using cookies for no reason.</p>
        <button class="btn bg-transparent w-full border-2 text-white font-bold"
          >Book a Call</button
        >
      </div>
    </div>
  </div>
</section>
