---
import { Icon } from 'astro-icon';
import config from '../../utils/config';
import Container from '../Container.astro';
import LogoGroup from '../LogoGroup.astro';
import Pattern from '../Pattern.astro';
---

<footer class="p-10 text-white min-h-[420px] relative">
  <Container className="footer z-10 relative">
    <div class="space-y-4">
      <a href="/">
        <LogoGroup />
      </a>
      <div>
        <span class="block footer-title">Email</span>
        <a class="link link-hover" href={`mailto:${config.email}`}
          >{config.email}</a
        >
      </div>
      <div>
        <span class="block footer-title">Phone</span>
        <a class="link link-hover" href={`tel:${config.phone}`}
          >{config.phone}</a
        >
      </div>
    </div>

    <div>
      <span class="footer-title">Company</span>
      <a class="link link-hover" href="/free-websites">Free websites</a>
      <a class="link link-hover" href="/services">Additional services</a>
    </div>

    <div>
      <span class="footer-title">Navigation</span>
      <button class="link link-hover" data-scroll-to="#faq">FAQs</button>
      <button class="link link-hover" data-scroll-to="#scope-of-work"
        >Scope of Work</button
      >
      <button class="link link-hover" data-scroll-to="#partnership-plans"
        >Partnereship Plans</button
      >
    </div>

    <div>
      <span class="footer-title">Legal</span>
      <a class="link link-hover" href="/cookie-policy">Cookie policy</a>
      <a class="link link-hover" href="/privacy-policy">Privacy policy</a>
      <a class="link link-hover" href="/terms-of-services">Terms of services</a>
    </div>

    <div>
      <span class="footer-title block">Social Media</span>
      <a
        href="https://twitter.com/modiggo"
        target="_blank"
        class="link link-hover flex items-center gap-2"
      >
        <Icon name="mdi:twitter" class="text-white w-6" />
        <span class="">Twitter</span>
      </a>
    </div>
  </Container>
  <Pattern />
</footer>
