---
import Container from '../Container.astro';
import Pattern from '../Pattern.astro';
---

<footer class="p-10 bg-black text-white min-h-[420px] relative">
  <Container className="footer z-10 relative">
    <div></div>
    <div>
      <span class="footer-title">Navigation</span>
      <button class="link link-hover" data-scroll-to="#faq">FAQs</button>
      <button class="link link-hover" data-scroll-to="#scope-of-work"
        >Scope of Work</button
      >
      <button class="link link-hover" data-scroll-to="#partnership-plans"
        >Partnereship Plans</button
      >
    </div>
    <div>
      <span class="footer-title">Company</span>
      <a class="link link-hover" href="/services">Additional services</a>
    </div>
    <div>
      <span class="footer-title">Legal</span>
      <a class="link link-hover" href="/terms-of-service">Terms of service</a>
      <a class="link link-hover" href="/privacy-policy">Privacy policy</a>
      <a class="link link-hover" href="/cookie-policy">Cookie policy</a>
    </div>
  </Container>
  <Pattern />
</footer>
