---
import Container from '../Container.astro';
import Pattern from '../Pattern.astro';
---

<footer class="p-10 bg-black text-white min-h-[420px] relative">
  <Container className="footer z-10 relative">
    <div>
      <span class="footer-title">Services</span>
      <a class="link link-hover">Branding</a>
      <a class="link link-hover">Design</a>
      <a class="link link-hover">Marketing</a>
      <a class="link link-hover">Advertisement</a>
    </div>
    <div>
      <span class="footer-title">Company</span>
      <a class="link link-hover">About us</a>
      <a class="link link-hover">Contact</a>
      <a class="link link-hover">Jobs</a>
      <a class="link link-hover">Press kit</a>
    </div>
    <div>
      <span class="footer-title">Legal</span>
      <a class="link link-hover">Terms of use</a>
      <a class="link link-hover">Privacy policy</a>
      <a class="link link-hover">Cookie policy</a>
    </div>
    <div>
      <span class="footer-title">Newsletter</span>
      <div class="form-control">
        <label class="label">
          <span class="label-text text-white">Enter your email address</span>
        </label>
        <div class="relative flex flex-wrap">
          <input
            type="text"
            placeholder="username@site.com"
            class="input input-bordered"
          />
          <button class="btn btn-primary">Subscribe</button>
        </div>
      </div>
    </div>
  </Container>
  <Pattern />
</footer>
