---
import HeroBackground from '../../assets/images/hero_background.png';
import AccentBlur from '../AccentBlur.astro';
import Container from '../Container.astro';
---

<section>
  <div
    class="bg-primary min-h-screen relative overflow-hidden flex items-center justify-center"
  >
    <Container className="text-white z-10">
      <div>
        <h1 class="mb-5 text-8xl font-black animate">
          Your Digital Blacksmith
        </h1>
        <h2 class="mb-5 text-2xl animate">
          Subscription-Based web development services to scale your business.
          Let's hammer out those red-hot ideas.
        </h2>
        <button
          class="btn btn-neutral btn-lg text-white animate"
          data-scroll-to="#partnership-plans">See Plans</button
        >
      </div>
    </Container>
    <img
      src={HeroBackground}
      alt="Digital Blacksmith working in his shop"
      class="absolute w-full h-full inset-0 object-cover opacity-50 scale-x-[-1]"
    />
    <AccentBlur />
  </div>
</section>
