---
import Container from '../Container.astro';
import HeroWrapper from '../HeroWrapper.astro';
---

<section>
  <HeroWrapper>
    <Container className="text-white text-center z-10">
      <div class="space-y-12">
        <h1
          class="text-4xl sm:text-6xl md:text-8xl font-black animate uppercase"
        >
          Your <span
            class="digital--text digital--animated"
            data-content="Digital">Digital</span
          >
          Blacksmith
        </h1>
        <h2 class="text-2xl animate">
          Custom web development as subscription. Let's hammer out those red-hot
          ideas.
        </h2>
        <button
          class="btn btn-primary btn-lg text-white animate"
          data-scroll-to="#partnership-plans"
        >
          See Plans
        </button>
      </div>
    </Container>
    <!-- <Pattern /> -->
  </HeroWrapper>
</section>
