---
import config from '../../utils/config';
import styles from '../../utils/styles';
import AccentBlur from '../AccentBlur.astro';
import Container from '../Container.astro';
import Pattern from '../Pattern.astro';
import PaymentPlans from '../svelte/PaymentPlans.svelte';
---

<section class={styles.section} id="plans">
  <Container>
    <div class="text-black mb-16">
      <h1 class="text-5xl font-bold mb-5">Partnership Plans</h1>
      <h2 class="mb-5 text-2xl">
        Choose the right plan for you. Pause or cancel anytime based on your
        workload.
      </h2>
    </div>
    <PaymentPlans client:visible />
    <div class="card w-full bg-primary text-white overflow-hidden relative">
      <div class="card-body py-10 z-10">
        <h2 class="card-title text-5xl mb-5 font-bold">Get a Tour</h2>
        <p class="mb-5">
          Learn more about Modiggo. Get a short tour through our digital
          blacksmith shop and see how we can help you.
        </p>
        <div class="card-actions">
          <a
            href={config.calendarLink}
            target="_blank"
            class="btn btn-neutral text-white">Book a Call</a
          >
        </div>
      </div>
      <Pattern />
      <AccentBlur />
    </div>
  </Container>
</section>
