---
import styles from '../../utils/styles';
import Container from '../Container.astro';
import HaveQuestionsCard from '../HaveQuestionsCard.astro';
import Heading from '../Heading.astro';
import PaymentPlans from '../svelte/PaymentPlans.svelte';

const paymentPlansContent = await Astro.glob(
  '../../content/payment-plans/*.md'
);
---

<section class={styles.section} id="partnership-plans">
  <Container>
    <Heading
      title="Partnership Plans"
      subtitle="Choose the right plan for you. Pause or cancel anytime based on your workload."
    />
    <PaymentPlans client:visible paymentPlansContent={paymentPlansContent} />
    <HaveQuestionsCard />
  </Container>
</section>
