---
import Hero from '../components/sections/Hero.astro';
import FinalCTA from '../components/sections/FinalCTA.astro';
import FAQ from '../components/sections/FAQ.astro';
import Plans from '../components/sections/Plans.astro';
import Layout from '../layouts/Layout.astro';
import ExpandedBenefits from '../components/sections/ExpandedBenefits.astro';
import Services from '../components/sections/Services.astro';
import Benefits from '../components/sections/Benefits.astro';
---

<Layout title="Modiggo">
	<main>
		<Hero />
		<Benefits />
		<ExpandedBenefits />
		<Services />
		<Plans />
		<FAQ />
		<FinalCTA />
	</main>
</Layout>
