---
import Hero from '../components/sections/Hero.astro';
import FinalCTA from '../components/sections/FinalCTA.astro';
import FAQ from '../components/sections/FAQ.astro';
import Plans from '../components/sections/Plans.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<Plans />
		<FAQ />
		<FinalCTA />
	</main>
</Layout>
