---
import { getCollection } from 'astro:content';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import Container from '../components/Container.astro';
import HaveQuestionsCard from '../components/HaveQuestionsCard.astro';
import Heading from '../components/Heading.astro';
import Section from '../components/Section.astro';
import Layout from '../layouts/Layout.astro';
import config from '../utils/config';

const services = await getCollection('additional-services');
---

<Layout
  title="Additional Services"
  description="You're looking for more than subscription-based web development services. Explore our additional services and let us help you make a digital impact."
>
  <Section>
    <Container>
      <Breadcrumbs crumbs={[{ label: 'Services' }]} />
      <Heading
        title="Additional Services"
        subtitle="A website is only a single sword in your arsenal. You may need additional items to conquer the digital world."
      />

      <div class="flex flex-wrap gap-4 mb-4">
        {
          services?.map((item) => (
            <div class="card basis-[100%] lg:basis-[calc(33.3%-10.2px)] bg-primary">
              <div class="card-body">
                <h2 class="card-title">{item?.data?.title}</h2>
                <h2 class="card-title underline">{item?.data?.price}</h2>
                <p set:html={item?.body} />
                <div class="card-actions justify-end">
                  <a
                    href={config.calendarLink}
                    target="_blank"
                    class="btn btn-neutral text-white"
                  >
                    Book a call
                  </a>
                </div>
              </div>
            </div>
          ))
        }
      </div>
      <HaveQuestionsCard />
    </Container>
  </Section>
</Layout>
