---
import styles from '../../../utils/styles';
import Container from '../../Container.astro';
import HaveQuestionsCard from '../../HaveQuestionsCard.astro';
---

<section class={styles.section}>
  <Container>
    <HaveQuestionsCard />
  </Container>
</section>
