---
import Container from '../../Container.astro';
import HaveQuestionsCard from '../../HaveQuestionsCard.astro';
import Section from '../../Section.astro';
---

<Section>
  <Container>
    <HaveQuestionsCard />
  </Container>
</Section>
