---
import { Image } from 'astro:assets';
import WebsiteImage from '../../../assets/images/website.png';
import styles from '../../../utils/styles';
import Container from '../../Container.astro';
import Heading from '../../Heading.astro';

import * as BenefitsContent from '../../../content/free-websites/benefits.md';
---

<section class={styles.section}>
  <Container>
    <Heading
      title="A Well-Crafted Website"
      subtitle="Fast, trustworthy, SEO-optimized, mobile-friendly, and great-converting."
    />
    <div class="flex flex-col md:flex-row flex-wrap gap-8">
      <div
        class="flex-1 text-lg"
        set:html={BenefitsContent.compiledContent()}
      />
      <div class="flex-1">
        <Image
          src={WebsiteImage}
          alt="A performant and optimized website built by Modiggo"
          class="sticky top-10 rounded-md overflow-hidden md:ml-auto md:mr-0"
          quality={50}
          width={600}
          height={600}
        />
      </div>
    </div>
  </Container>
</section>
