---
import config from '../../../utils/config';
import Container from '../../Container.astro';
import HeroHeading from '../../HeroHeading.astro';
import HeroWrapper from '../../HeroWrapper.astro';
---

<section>
  <HeroWrapper>
    <Container className="text-center z-10">
      <HeroHeading
        title="Let's Forge you a Website. For FREE."
        subtitle="Focus on your business while we hammer your red-hot ideas into a professional website."
      >
        <a
          href={config.freeWebsiteApplicationLink}
          target="_blank"
          class="btn btn-primary btn-lg z-10 relative text-white">Apply now</a
        >
      </HeroHeading>
    </Container>
  </HeroWrapper>
</section>
