---
import { Image } from '@astrojs/image/components';
import NoPriceTagImage from '../../../assets/images/blacksmith_papers.jpeg';
import styles from '../../../utils/styles';
import Container from '../../Container.astro';
import Heading from '../../Heading.astro';

import * as ReasoningContent from '../../../content/free-websites/reasoning.md';
---

<section class={styles.section}>
  <Container>
    <Heading
      title="No Price Tag. But Why?"
      subtitle="Don't worry about paying. We're more interested in helping you forge your red-hot ideas into great-converting websites."
    />

    <div class="flex flex-col md:flex-row flex-wrap gap-8">
      <div class="flex-1">
        <Image
          src={NoPriceTagImage}
          alt="A no price tag image for Modiggo free websites"
          class="sticky top-10 rounded-md overflow-hidden"
          width={600}
          height={600}
        />
      </div>
      <div
        class="flex-1 text-lg"
        set:html={ReasoningContent.compiledContent()}
      />
    </div>
  </Container>
</section>
