<div
  class={`w-[800px] h-[800px] rounded-full bg-tertiary blur-[420px] absolute top-[-400px] right-[25%] z-[1]`}
>
</div>
<div
  class={`w-[800px] h-[800px] rounded-full bg-primary blur-[420px] absolute left-[-400px] z-[1]`}
>
</div>
<div
  class={`w-[800px] h-[800px] rounded-full bg-secondary blur-[420px] absolute right-[-400px] z-[1]`}
>
</div>
