---
interface Props {
  question?: string;
}

const { question } = Astro.props;
---

<div class="collapse collapse-arrow border-b border-black mb-2">
  <input type="radio" name="accordion" />
  <div class="collapse-title text-xl font-medium">
    {question}
  </div>
  <div class="collapse-content">
    <p><slot /></p>
  </div>
</div>
