---
import LargeCard from './LargeCard.astro';
import config from '../utils/config';
---

<LargeCard>
  <h2 class="card-title text-5xl font-bold">Have questions?</h2>
  <p>
    Learn more about Modiggo. Get a short tour through our digital blacksmith
    shop and see how we can help you.
  </p>
  <div class="card-actions">
    <a
      href={config.calendarLink}
      target="_blank"
      class="btn btn-neutral text-white">Book a Call</a
    >
  </div>
</LargeCard>
