---
import { twMerge } from 'tailwind-merge';

interface Props {
  title?: string;
  subtitle?: string;
  className?: string;
}

const { title, subtitle, className } = Astro.props;
---

<div class={twMerge('mb-16 space-y-6 animate', className)}>
  <h1 class="text-4xl md:text-7xl font-bold uppercase">{title}</h1>
  <h2 class="text-2xl">
    {subtitle}
  </h2>
  <slot />
</div>
