---
import { twMerge } from 'tailwind-merge';

interface Props {
  title?: string;
  subtitle?: string;
  className?: string;
}

const { title, subtitle, className } = Astro.props;
---

<div class={twMerge('mb-16 animate', className)}>
  <h1 class="text-5xl font-bold mb-5">{title}</h1>
  <h2 class="mb-5 text-2xl">
    {subtitle}
  </h2>
</div>
