---
import H1 from './H1.astro';
import H2 from './H2.astro';
interface Props {
  title?: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<div class="space-y-8">
  <H1>
    {title}
  </H1>
  <H2>
    {subtitle}
  </H2>
  <slot />
</div>
