---
import { twMerge } from 'tailwind-merge';
import AccentBlur from './AccentBlur.astro';

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class={twMerge(
    'card w-full bg-primary text-white overflow-hidden relative',
    className
  )}
>
  <div class="card-body py-10 z-10 space-y-5">
    <slot />
  </div>
  <AccentBlur />
</div>
