---
import AccentBlur from './AccentBlur.astro';
import Pattern from './Pattern.astro';

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class={`${
    className ?? ''
  } card w-full bg-primary text-white overflow-hidden relative`}
>
  <div class="card-body py-10 z-10">
    <slot />
  </div>
  <Pattern />
  <AccentBlur />
</div>
