---
import ModiggoLogo from '../assets/images/modiggo_logo.png';
import { Image } from 'astro:assets';
---

<div class="flex justify-center">
  <div class="flex items-center gap-4 mb-2">
    <Image src={ModiggoLogo} alt="Modiggo Logo" height={50} width={50} />
    <span class="text-3xl font-bold">Modiggo</span>
  </div>
</div>
