---
import routes from '../utils/routes';
import Container from './Container.astro';
---

<div class="navbar bg-primary sticky top-0 z-50">
  <Container className="p-0 flex justify-between">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="white"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path></svg
          >
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 [&>li]:my-2"
        >
          {
            routes?.map((item) => (
              <li>
                <a href={item.href} class="link">
                  {item.label}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <a href="/" class="btn btn-ghost normal-case text-xl text-white"
        >Modiggo</a
      >
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal text-white px-1">
        {
          routes?.map((item) => (
            <li>
              <a href={item.href} class="font-semibold">
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <!-- <div class="navbar-end"></div> -->
  </Container>
</div>
