---
import { Icon } from 'astro-icon';
import { twMerge } from 'tailwind-merge';

interface Props {
  title?: string;
  description?: string;
  iconName?: string;
  iconClassName?: string;
  className?: string;
}

const { title, description, iconName, iconClassName, className } = Astro.props;
---

<div class={twMerge('z-10', className)}>
  <div>
    {
      iconName ? (
        <Icon name={iconName} class={twMerge('mb-4', iconClassName)} />
      ) : (
        ''
      )
    }
  </div>
  <div class="text-2xl font-bold mb-4">{title}</div>
  <div class="text-xl" set:html={description} />
</div>
