---
import Container from '../../../components/Container.astro';
import HaveQuestionsCard from '../../../components/HaveQuestionsCard.astro';
import Section from '../../../components/Section.astro';
---

<Section>
  <Container>
    <HaveQuestionsCard />
  </Container>
</Section>
