---
import { Image } from 'astro:assets';
import NoPriceTagImage from '../../../assets/images/blacksmith_papers.jpeg';
import Container from '../../../components/Container.astro';
import Heading from '../../../components/Heading.astro';

import * as ReasoningContent from '../../../content/free-websites/reasoning.md';
import Section from '../../../components/Section.astro';
---

<Section>
  <Container>
    <Heading
      position="center"
      title="No Price Tag. But Why?"
      subtitle="Don't worry about paying. We're more interested in helping you forge your red-hot ideas into great-converting websites."
    />

    <div class="flex flex-col md:flex-row flex-wrap gap-8">
      <div class="flex-1">
        <Image
          src={NoPriceTagImage}
          alt="A no price tag image for Modiggo free websites"
          class="sticky top-10 rounded-md overflow-hidden"
          quality={50}
          width={600}
          height={600}
        />
      </div>
      <div
        class="flex-1 text-lg"
        set:html={ReasoningContent.compiledContent()}
      />
    </div>
  </Container>
</Section>
